In [242]:
# ticker_clean_auxiliary.py


import pandas as pd
import numpy as np
import datetime as dt
import os
import csv


def slice_date(date):
    day = date % 100
    month = date // 100 % 100
    year = date // 10000
    return (year, month, day)


def slice_min(Time):
    if np.isnan(Time):
        return(-1, -1, -1)
    else:
        Hour = Time // 10000000
        Min = Time // 100000 % 100
        Sec = Time // 1000 % 100
        return (int(Hour), int(Min), int(Sec))


def split_level(x, name):
    temp_table = x[name].str.split(',',expand=True)
    temp_table.iloc[:, 0] = temp_table.iloc[:, 0].apply(lambda x: x[1:])
    return temp_table.iloc[:, :10].astype(int)


def data_clean(data, trading_day):

    # clean data into same time range
    (Year, Month, Day) = slice_date(20180723)
    time_start = dt.datetime(Year, Month, Day, 9, 15, 0)
    time_end = dt.datetime(Year, Month, Day, 15, 0, 0)
    time_range = pd.date_range(time_start, time_end, freq='1S')
    time_range2 = pd.date_range(time_start, time_end, freq='3S')
    time_col = data['Time'].values
    temp_dateTime = []
    for i in range(len(time_col)):
        H, M, S = slice_min(time_col[i])
        if H == -1:
            continue
        else:
            temp_dateTime.append(dt.datetime(Year, Month, Day, H, M, S))
    data.index = pd.DatetimeIndex(temp_dateTime)

    main_part_cols = ['High', 'Low', 'Close',
                      'TransactionNum', 'TransactionVol', 'TransactionAmount', 'TotalBidVol',
                      'TotalAskVol', 'WeightedAvgBidPrice', 'WeightedAvgAskPrice',
                      'HighLimit', 'LowLimit', 'AskPrice1', 'AskPrice2', 'AskPrice3',
                      'AskPrice4', 'AskPrice5', 'AskPrice6', 'AskPrice7', 'AskPrice8',
                      'AskPrice9', 'AskPrice10', 'AskVol1', 'AskVol2', 'AskVol3', 'AskVol4',
                      'AskVol5', 'AskVol6', 'AskVol7', 'AskVol8', 'AskVol9', 'AskVol10',
                      'BidPrice1', 'BidPrice2', 'BidPrice3', 'BidPrice4', 'BidPrice5',
                      'BidPrice6', 'BidPrice7', 'BidPrice8', 'BidPrice9', 'BidPrice10',
                      'BidVol1', 'BidVol2', 'BidVol3', 'BidVol4', 'BidVol5', 'BidVol6',
                      'BidVol7', 'BidVol8', 'BidVol9', 'BidVol10']
    sub_cols = ['Status', 'PreClose', 'Open']

    # diminish the same data points at the same timestamps
    # When encountered mutiple row for the same time_index,
    # take mean on main part, take last on PreClose, TodayOpen, and Status
    data_main_part = data[main_part_cols].groupby(level=0).mean().astype(int)
    data_status = data[sub_cols].groupby(level=0).last()
    data_status.columns = ['Status', 'PreClose', 'TodayOpen']

    result = pd.DataFrame()
    result[data_main_part.columns] = data_main_part
    result[data_status.columns] = data_status 
    # result = result.reindex(time_range)
    # To avoid lossing info because of differnt sampling time point
    result = result.reindex(time_range).ffill().dropna()
    result = result.reindex(time_range2).ffill().dropna().astype(int)
    # create open col using close of last tick
    result['Open'] = result['Close'].shift(1).fillna(0).astype(int)
    # take difference on these three cumulated volume to get vols in last tick
    result[['TransactionNum', 'TransactionVol','TransactionAmount']] = result[['TransactionNum', 'TransactionVol','TransactionAmount']].diff(1).dropna()
    result = result.dropna().astype(int)
    UpThreshold = dt.datetime(Year, Month, Day, 9, 30, 0)
    DownThreshold = dt.datetime(Year, Month, Day, 11, 30, 0)
    UpThreshold2 = dt.datetime(Year, Month, Day, 13, 0, 0)
    result = result[((result.index > UpThreshold) & (result.index <= DownThreshold)) | (result.index > UpThreshold2)]
    if len(result) > 0:
        result['Open'].iloc[0] = result['TodayOpen'].iloc[0]
    result.name = UpThreshold
    return result

def bar_generator(data, freq='3S'):

    stk_columns = ['Status', 'PreClose', 'TodayOpen', 'Open', 'High', 'Low', 'Close', 'Mid', 'TransactionNum',
                   'TransactionVol', 'TransactionAmount', 'TotalBidVol', 'TotalAskVol', 'WeightedAvgBidPrice', 
                   'WeightedAvgAskPrice', 'HighLimit', 'LowLimit', 'AskPrice1', 'AskPrice2', 'AskPrice3', 
                   'AskPrice4', 'AskPrice5', 'AskPrice6', 'AskPrice7', 'AskPrice8', 'AskPrice9', 'AskPrice10', 
                   'AskVol1', 'AskVol2', 'AskVol3', 'AskVol4', 'AskVol5', 'AskVol6', 'AskVol7', 'AskVol8', 'AskVol9', 
                   'AskVol10', 'BidPrice1', 'BidPrice2', 'BidPrice3', 'BidPrice4', 'BidPrice5', 'BidPrice6', 
                   'BidPrice7', 'BidPrice8', 'BidPrice9', 'BidPrice10', 'BidVol1', 'BidVol2', 'BidVol3', 
                   'BidVol4', 'BidVol5', 'BidVol6', 'BidVol7', 'BidVol8', 'BidVol9', 'BidVol10']

    if len(data) == 0:
        objTime = int(freq[:-1])
        UpThreshold = data.name
        DownThreshold = dt.datetime(UpThreshold.year, UpThreshold.month, UpThreshold.day , 11, 30, 0)
        UpThreshold2 = dt.datetime(UpThreshold.year, UpThreshold.month, UpThreshold.day , 13, 0, 0)
        time_end = dt.datetime(UpThreshold.year, UpThreshold.month, UpThreshold.day , 15, 0, 0)
        time_range = pd.date_range(UpThreshold, time_end, freq=freq)
        time_range = pd.date_range(UpThreshold, time_end, freq=freq)
        time_range = time_range[((time_range > UpThreshold) & (time_range <= DownThreshold)) | (time_range > UpThreshold2)]
        temp_matrix = np.zeros((len(time_range), len(stk_columns)))
        result = pd.DataFrame(temp_matrix, index=time_range, columns=stk_columns)
        result['Status'] = ord('X')
        result.name = freq  
        return result
    else:
        result = pd.DataFrame()
        result['PreClose'] = data['PreClose'].resample(freq, closed='left').first()
        result['TodayOpen'] = data['TodayOpen'].resample(freq, closed='left').first()

        result['Close'] = data['Close'].resample(freq, closed='left').last()
        result['Open'] = data['Open'].resample(freq, closed='left').first()
        result['High'] = data['High'].resample(freq, closed='left').max()
        result['Low'] = data['Low'].resample(freq, closed='left').min()
        result['Status'] = data['Status'].resample(freq, closed='left').last()

        result['AskPrice1'] = data['AskPrice1'].resample(freq, closed='left').last()
        result['AskPrice2'] = data['AskPrice2'].resample(freq, closed='left').last()
        result['AskPrice3'] = data['AskPrice3'].resample(freq, closed='left').last()
        result['AskPrice4'] = data['AskPrice4'].resample(freq, closed='left').last()
        result['AskPrice5'] = data['AskPrice5'].resample(freq, closed='left').last()
        result['AskPrice6'] = data['AskPrice6'].resample(freq, closed='left').last()
        result['AskPrice7'] = data['AskPrice7'].resample(freq, closed='left').last()
        result['AskPrice8'] = data['AskPrice8'].resample(freq, closed='left').last()
        result['AskPrice9'] = data['AskPrice9'].resample(freq, closed='left').last()
        result['AskPrice10'] = data['AskPrice10'].resample(freq, closed='left').last()

        result['BidPrice1'] = data['BidPrice1'].resample(freq, closed='left').last()
        result['BidPrice2'] = data['BidPrice2'].resample(freq, closed='left').last()
        result['BidPrice3'] = data['BidPrice3'].resample(freq, closed='left').last()
        result['BidPrice4'] = data['BidPrice4'].resample(freq, closed='left').last()
        result['BidPrice5'] = data['BidPrice5'].resample(freq, closed='left').last()
        result['BidPrice6'] = data['BidPrice6'].resample(freq, closed='left').last()
        result['BidPrice7'] = data['BidPrice7'].resample(freq, closed='left').last()
        result['BidPrice8'] = data['BidPrice8'].resample(freq, closed='left').last()
        result['BidPrice9'] = data['BidPrice9'].resample(freq, closed='left').last()
        result['BidPrice10'] = data['BidPrice10'].resample(freq, closed='left').last()

        result['AskVol1'] = data['AskVol1'].resample(freq, closed='left').last()
        result['AskVol2'] = data['AskVol2'].resample(freq, closed='left').last()
        result['AskVol3'] = data['AskVol3'].resample(freq, closed='left').last()
        result['AskVol4'] = data['AskVol4'].resample(freq, closed='left').last()
        result['AskVol5'] = data['AskVol5'].resample(freq, closed='left').last()
        result['AskVol6'] = data['AskVol6'].resample(freq, closed='left').last()
        result['AskVol7'] = data['AskVol7'].resample(freq, closed='left').last()
        result['AskVol8'] = data['AskVol8'].resample(freq, closed='left').last()
        result['AskVol9'] = data['AskVol9'].resample(freq, closed='left').last()
        result['AskVol10'] = data['AskVol10'].resample(freq, closed='left').last()

        result['BidVol1'] = data['BidVol1'].resample(freq, closed='left').last()
        result['BidVol2'] = data['BidVol2'].resample(freq, closed='left').last()
        result['BidVol3'] = data['BidVol3'].resample(freq, closed='left').last()
        result['BidVol4'] = data['BidVol4'].resample(freq, closed='left').last()
        result['BidVol5'] = data['BidVol5'].resample(freq, closed='left').last()
        result['BidVol6'] = data['BidVol6'].resample(freq, closed='left').last()
        result['BidVol7'] = data['BidVol7'].resample(freq, closed='left').last()
        result['BidVol8'] = data['BidVol8'].resample(freq, closed='left').last()
        result['BidVol9'] = data['BidVol9'].resample(freq, closed='left').last()
        result['BidVol10'] = data['BidVol10'].resample(freq, closed='left').last()
        result['WeightedAvgBidPrice'] = data['WeightedAvgBidPrice'].resample(freq, closed='left').last()
        result['WeightedAvgAskPrice'] = data['WeightedAvgAskPrice'].resample(freq, closed='left').last()
        result['TransactionNum'] = data['TransactionNum'].resample(freq, closed='left').sum()
        result['TransactionVol'] = data['TransactionVol'].resample(freq, closed='left').sum()
        result['TransactionAmount'] = data['TransactionAmount'].resample(freq, closed='left').sum()
        result['TotalAskVol'] = data['TotalAskVol'].resample(freq, closed='left').sum()
        result['TotalBidVol'] = data['TotalBidVol'].resample(freq, closed='left').sum()
        result['HighLimit'] = data['HighLimit'].resample(freq, closed='left').last()
        result['LowLimit'] = data['LowLimit'].resample(freq, closed='left').last()

        f = lambda x: (x['AskPrice1'] + x['BidPrice1']) / 2 if x['AskPrice1'] > 0 and x['BidPrice1'] > 0 else np.nan
        result['Mid'] = result.apply(f, axis=1)
        result = result.ffill().bfill()
        Year, Month, Day = data.index[0].year, data.index[0].month, data.index[0].day
        UpThreshold = dt.datetime(Year, Month, Day, 9, 30, 0)
        DownThreshold = dt.datetime(Year, Month, Day, 11, 30, 0)
        UpThreshold2 = dt.datetime(Year, Month, Day, 13, 0, 0)
        result = result[((result.index > UpThreshold) & (result.index <= DownThreshold)) | (result.index > UpThreshold2)]
        result = result.loc[:, stk_columns]
        result.name = freq
        return result


def TargetGenerator(data, base_freq, future_period):

    base_freq_str = str(base_freq) + 'S'
    dataObjFreq = bar_generator(data, base_freq_str)
    num_shift = int(future_period / base_freq)
    close_shift = dataObjFreq['Close'].shift(-num_shift)
    numReturn = (close_shift - dataObjFreq['Close']) / dataObjFreq['Close']
    numReturn[~np.isfinite(numReturn)] = np.nan
    dataObjFreq['numReturn'] = numReturn

    return dataObjFreq


def TargerGeneratorReturn(data, future_period):

    base_freq_str = data.name
    freq = int(base_freq_str[:-1])
    num_shift = int(future_period / freq)
    result = pd.DataFrame()
    Mid_shift = data['Mid'].shift(-num_shift)
    MidReturn = (Mid_shift - data['Mid']) / (data['Mid'])
    MidReturn[~np.isfinite(MidReturn)] = np.nan
    result['MidReturn' + str(future_period)] = MidReturn
    return result


def TargetSeriesGenerate(data, rt_series=[15, 30, 60, 90, 300, 600, 900, 1500, 2400]):
    result = []
    for ti in rt_series:
        result.append(TargerGeneratorReturn(data, ti))
    target_all = pd.concat(result, axis=1)
    return target_all

In [180]:
data_01 = pd.HDFStore('F:\\tick_raw\\20180723.h5', 'r')

In [187]:
keys = data_01.keys()
result_less = []
for k in keys:
    result_less.append(len(data_01[k]))

In [188]:
len_np = np.array(result_less)
print(np.sort(len_np))

[   1    1    2 ... 4966 4975 4977]

In [243]:
test_01 = data_01[keys[lens_order[200]]]

In [244]:
x1 = test_01.loc[93006000, :]

In [245]:
x1

Time                   93006000
Status                       79
PreClose                  78600
Open                      78300
High                      78400
Low                       78300
Close                     78400
TransactionNum                2
TransactionVol            42300
TransactionAmount        331532
TotalBidVol               89000
TotalAskVol              120500
WeightedAvgBidPrice       74400
WeightedAvgAskPrice       79840
HighLimit                 86500
LowLimit                  70700
AskPrice1                 78100
AskPrice2                 78200
AskPrice3                 78300
AskPrice4                 78400
AskPrice5                 78600
AskPrice6                 78800
AskPrice7                 79000
AskPrice8                 79100
AskPrice9                 79200
AskPrice10                79300
AskVol1                    1000
AskVol2                    1000
AskVol3                    6600
AskVol4                   67700
AskVol5                    2000
AskVol6                     500
AskVol7                    3600
AskVol8                    1000
AskVol9                     800
AskVol10                   2000
BidPrice1                 77100
BidPrice2                 77000
BidPrice3                 76900
BidPrice4                 76800
BidPrice5                 76100
BidPrice6                 76000
BidPrice7                 75800
BidPrice8                 75700
BidPrice9                 75200
BidPrice10                75100
BidVol1                     300
BidVol2                   23000
BidVol3                     400
BidVol4                     900
BidVol5                    1500
BidVol6                    3000
BidVol7                     500
BidVol8                     200
BidVol9                    1000
BidVol10                   6000
Name: 93006000, dtype: int64

In [251]:
x2 = data_clean(test_01, 20180723)

In [252]:
x2

,High,Low,Close,TransactionNum,TransactionVol,TransactionAmount,TotalBidVol,TotalAskVol,WeightedAvgBidPrice,WeightedAvgAskPrice,...,BidVol5,BidVol6,BidVol7,BidVol8,BidVol9,BidVol10,Status,PreClose,TodayOpen,Open
2018-07-23 09:30:03,78400,78300,78400,2,42300,331532,62300,104900,73430,79860,...,500,1000,500,200,1000,3000,79,78600,78300,78300
2018-07-23 09:30:06,78400,78300,78400,0,0,0,89000,120500,74400,79840,...,1500,3000,500,200,1000,6000,79,78600,78300,78400
2018-07-23 09:30:09,78400,78300,78400,0,0,0,94300,121500,74330,79840,...,1500,3000,500,200,1000,6000,79,78600,78300,78400
2018-07-23 09:30:12,78400,78300,78400,0,0,0,94300,121500,74330,79840,...,1500,3000,500,200,1000,6000,79,78600,78300,78400
2018-07-23 09:30:15,78400,78300,78400,0,0,0,94300,121500,74330,79840,...,1500,3000,500,200,1000,6000,79,78600,78300,78400
2018-07-23 09:30:18,78400,78300,78400,0,0,0,94300,121500,74330,79840,...,1500,3000,500,200,1000,6000,79,78600,78300,78400
2018-07-23 09:30:21,78400,78100,78300,6,6300,49299,94300,115200,74330,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78400
2018-07-23 09:30:24,78400,78100,78300,0,0,0,94300,115200,74330,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78300
2018-07-23 09:30:27,78400,78100,78300,0,0,0,94000,115200,74340,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78300
2018-07-23 09:30:30,78400,78100,78300,0,0,0,94000,115200,74340,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78300
2018-07-23 09:30:33,78400,78100,78300,0,0,0,94000,115200,74340,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78300
2018-07-23 09:30:36,78400,78100,78300,0,0,0,94000,115200,74340,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78300
2018-07-23 09:30:39,78400,78100,78300,0,0,0,94000,115200,74340,79930,...,1500,3000,500,200,1000,6000,79,78600,78300,78300
2018-07-23 09:30:42,78400,78100,78300,0,0,0,104000,115200,74610,79930,...,900,1500,3000,500,200,1000,79,78600,78300,78300
2018-07-23 09:30:45,78400,78100,78300,0,0,0,104000,115200,74610,79930,...,900,1500,3000,500,200,1000,79,78600,78300,78300
2018-07-23 09:30:48,78400,78100,78300,1,2300,18009,108300,112900,74750,79960,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:30:51,78400,78100,78300,5,23000,180316,107900,90300,74740,80360,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:30:54,78400,78100,78300,0,0,0,107900,90900,74740,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:30:57,78400,78100,78300,0,0,0,107900,90900,74740,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:00,78400,78100,78300,0,0,0,107900,90900,74740,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:03,78400,78100,78300,0,0,0,107900,90900,74740,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:06,78400,78100,78300,0,0,0,107900,90900,74740,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:09,78400,78100,78300,0,0,0,107900,90900,74740,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:12,78400,78100,78300,3,300,2349,107600,90900,74730,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:15,78400,78100,78300,3,300,2349,117300,90900,74550,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:18,78400,78100,78300,6,600,4698,116700,90900,74530,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:21,78400,78100,78300,3,300,2349,116400,90900,74520,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:24,78400,78100,78300,2,200,1566,116200,90900,74520,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:27,78400,78100,78300,2,200,1566,116000,90900,74510,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
2018-07-23 09:31:30,78400,78100,78300,2,1100,8613,114900,90900,74480,80340,...,400,900,1500,3000,500,200,79,78600,78300,78300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-23 14:58:33,79000,77300,78800,0,0,0,168100,183000,76800,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:36,79000,77300,78800,0,0,0,168100,183000,76800,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:39,79000,77300,78800,0,0,0,168100,183000,76800,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:42,79000,77300,78800,0,0,0,168100,183000,76800,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:45,79000,77300,78800,0,0,0,168100,183000,76800,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:48,79000,77300,78800,0,0,0,168100,183000,76800,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:51,79000,77300,78800,0,0,0,168100,178400,76800,81250,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:54,79000,77300,78800,0,0,0,168100,178400,76800,81250,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:58:57,79000,77300,78800,0,0,0,168100,178400,76800,81250,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78800
2018-07-23 14:59:00,79000,77300,78700,1,600,4722,167500,182400,76790,81190,...,9900,6300,2900,4500,1100,500,79,78600,78300,78800
2018-07-23 14:59:03,79000,77300,78700,0,0,0,167500,182400,76790,81190,...,9900,6300,2900,4500,1100,500,79,78600,78300,78700
2018-07-23 14:59:06,79000,77300,78700,0,0,0,167900,182400,76800,81190,...,9900,6300,2900,4500,1100,500,79,78600,78300,78700
2018-07-23 14:59:09,79000,77300,78700,0,0,0,167900,182400,76800,81190,...,9900,6300,2900,4500,1100,500,79,78600,78300,78700
2018-07-23 14:59:12,79000,77300,78700,0,0,0,167900,182400,76800,81190,...,9900,6300,2900,4500,1100,500,79,78600,78300,78700
2018-07-23 14:59:15,79000,77300,78700,0,0,0,167900,182400,76800,81190,...,9900,6300,2900,4500,1100,500,79,78600,78300,78700
2018-07-23 14:59:18,79000,77300,78700,0,0,0,172900,182400,76850,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:21,79000,77300,78700,0,0,0,172900,182400,76850,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:24,79000,77300,78700,0,0,0,172900,182400,76850,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:27,79000,77300,78700,0,0,0,172900,182400,76850,81190,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:30,79000,77300,78700,1,900,7083,172900,181500,76850,81210,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:33,79000,77300,78700,0,0,0,172900,181500,76850,81210,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:36,79000,77300,78700,0,0,0,172900,181500,76850,81210,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:39,79000,77300,78700,0,0,0,172900,181500,76850,81210,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:42,79000,77300,78700,0,0,0,172900,181500,76850,81210,...,13200,9900,6300,2900,4500,1100,79,78600,78300,78700
2018-07-23 14:59:45,79000,77300,79000,17,42600,336320,180300,138900,76940,81900,...,1000,13200,9900,6300,2900,4500,79,78600,78300,78700
2018-07-23 14:59:48,79000,77300,79000,0,0,0,180300,138900,76940,81900,...,1000,13200,9900,6300,2900,4500,79,78600,78300,79000
2018-07-23 14:59:51,79000,77300,79000,0,0,0,185300,138900,76980,81900,...,31000,1000,13200,9900,6300,2900,79,78600,78300,79000
2018-07-23 14:59:54,79000,77300,79000,0,0,0,185300,138900,76980,81900,...,31000,1000,13200,9900,6300,2900,79,78600,78300,79000
2018-07-23 14:59:57,79000,77300,79000,0,0,0,185300,138900,76980,81900,...,31000,1000,13200,9900,6300,2900,79,78600,78300,79000
2018-07-23 15:00:00,79000,77300,79000,0,0,0,185300,138900,76980,81900,...,31000,1000,13200,9900,6300,2900,79,78600,78300,79000

In [248]:
x1[x2.index] == x2

High                    True
Low                     True
Close                   True
TransactionNum         False
TransactionVol         False
TransactionAmount      False
TotalBidVol             True
TotalAskVol             True
WeightedAvgBidPrice     True
WeightedAvgAskPrice     True
HighLimit               True
LowLimit                True
AskPrice1               True
AskPrice2               True
AskPrice3               True
AskPrice4               True
AskPrice5               True
AskPrice6               True
AskPrice7               True
AskPrice8               True
AskPrice9               True
AskPrice10              True
AskVol1                 True
AskVol2                 True
AskVol3                 True
AskVol4                 True
AskVol5                 True
AskVol6                 True
AskVol7                 True
AskVol8                 True
AskVol9                 True
AskVol10                True
BidPrice1               True
BidPrice2               True
BidPrice3               True
BidPrice4               True
BidPrice5               True
BidPrice6               True
BidPrice7               True
BidPrice8               True
BidPrice9               True
BidPrice10              True
BidVol1                 True
BidVol2                 True
BidVol3                 True
BidVol4                 True
BidVol5                 True
BidVol6                 True
BidVol7                 True
BidVol8                 True
BidVol9                 True
BidVol10                True
Status                  True
PreClose                True
TodayOpen              False
Open                   False
dtype: bool

In [249]:
x2

High                    78400
Low                     78300
Close                   78400
TransactionNum              0
TransactionVol              0
TransactionAmount           0
TotalBidVol             89000
TotalAskVol            120500
WeightedAvgBidPrice     74400
WeightedAvgAskPrice     79840
HighLimit               86500
LowLimit                70700
AskPrice1               78100
AskPrice2               78200
AskPrice3               78300
AskPrice4               78400
AskPrice5               78600
AskPrice6               78800
AskPrice7               79000
AskPrice8               79100
AskPrice9               79200
AskPrice10              79300
AskVol1                  1000
AskVol2                  1000
AskVol3                  6600
AskVol4                 67700
AskVol5                  2000
AskVol6                   500
AskVol7                  3600
AskVol8                  1000
AskVol9                   800
AskVol10                 2000
BidPrice1               77100
BidPrice2               77000
BidPrice3               76900
BidPrice4               76800
BidPrice5               76100
BidPrice6               76000
BidPrice7               75800
BidPrice8               75700
BidPrice9               75200
BidPrice10              75100
BidVol1                   300
BidVol2                 23000
BidVol3                   400
BidVol4                   900
BidVol5                  1500
BidVol6                  3000
BidVol7                   500
BidVol8                   200
BidVol9                  1000
BidVol10                 6000
Status                     79
PreClose                78600
TodayOpen               78300
Open                    78400
Name: 2018-07-23 09:30:06, dtype: int32

In [250]:
test_01

,Time,Status,PreClose,Open,High,Low,Close,TransactionNum,TransactionVol,TransactionAmount,...,BidVol1,BidVol2,BidVol3,BidVol4,BidVol5,BidVol6,BidVol7,BidVol8,BidVol9,BidVol10
2018-07-23 08:00:00,80000000,0,78600,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-07-23 08:00:00,80000000,69,78600,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-07-23 08:00:00,80000000,69,78600,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-07-23 09:25:13,92513000,73,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:25:13,92513000,73,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:25:13,92513000,100,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:25:13,92513000,100,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:29:06,92906000,79,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:29:06,92906000,79,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:29:06,92906000,79,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:29:06,92906000,79,78600,0,0,0,0,0,0,0,...,200,200,1300,1300,3100,1900,300,500,200,0
2018-07-23 09:30:03,93003000,79,78600,78300,78400,78300,78400,2,42300,331532,...,300,3000,400,200,500,1000,500,200,1000,3000
2018-07-23 09:30:06,93006000,79,78600,78300,78400,78300,78400,2,42300,331532,...,300,23000,400,900,1500,3000,500,200,1000,6000
2018-07-23 09:30:09,93009000,79,78600,78300,78400,78300,78400,2,42300,331532,...,300,23000,400,900,1500,3000,500,200,1000,6000
2018-07-23 09:30:21,93021000,79,78600,78300,78400,78100,78300,8,48600,380831,...,300,23000,400,900,1500,3000,500,200,1000,6000
2018-07-23 09:30:27,93027000,79,78600,78300,78400,78100,78300,8,48600,380831,...,300,23000,400,900,1500,3000,500,200,1000,6000
2018-07-23 09:30:42,93042000,79,78600,78300,78400,78100,78300,8,48600,380831,...,10000,300,23000,400,900,1500,3000,500,200,1000
2018-07-23 09:30:48,93048000,79,78600,78300,78400,78100,78300,9,50900,398840,...,4100,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:30:51,93051000,79,78600,78300,78400,78100,78300,14,73900,579156,...,3700,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:30:54,93054000,79,78600,78300,78400,78100,78300,14,73900,579156,...,3700,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:12,93112000,79,78600,78300,78400,78100,78300,17,74200,581505,...,3400,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:15,93115000,79,78600,78300,78400,78100,78300,20,74500,583854,...,3100,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:18,93118000,79,78600,78300,78400,78100,78300,26,75100,588552,...,2500,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:21,93121000,79,78600,78300,78400,78100,78300,29,75400,590901,...,2200,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:24,93124000,79,78600,78300,78400,78100,78300,31,75600,592467,...,2000,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:27,93127000,79,78600,78300,78400,78100,78300,33,75800,594033,...,1800,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:30,93130000,79,78600,78300,78400,78100,78300,35,76900,602646,...,700,10000,300,23000,400,900,1500,3000,500,200
2018-07-23 09:31:33,93133000,79,78600,78300,78400,78100,78300,37,77600,608127,...,10000,300,23000,400,900,1500,3000,500,200,1000
2018-07-23 09:31:36,93136000,79,78600,78300,78400,78100,78300,37,77600,608127,...,10000,300,23000,400,900,1500,3000,500,200,1000
2018-07-23 09:31:45,93145000,79,78600,78300,78400,78100,78300,37,77600,608127,...,10000,1400,23000,400,900,1500,3000,500,200,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-23 14:54:24,145424000,79,78600,78300,79000,77300,78600,463,719301,5628121,...,5000,31000,3000,13200,9900,6300,2900,6500,1100,1500
2018-07-23 14:54:27,145427000,79,78600,78300,79000,77300,78800,464,719501,5629697,...,5000,31000,3000,13200,9900,6300,2900,6500,1100,1500
2018-07-23 14:54:33,145433000,79,78600,78300,79000,77300,78800,464,719501,5629697,...,5000,31000,3000,13200,9900,6300,2900,6500,1100,1500
2018-07-23 14:54:42,145442000,79,78600,78300,79000,77300,78700,465,723301,5659603,...,5000,31000,3000,13200,9900,6300,2900,6500,1100,1500
2018-07-23 14:54:45,145445000,79,78600,78300,79000,77300,78700,465,723301,5659603,...,5000,31000,3000,13200,9900,6300,2900,6500,1100,1500
2018-07-23 14:54:51,145451000,79,78600,78300,79000,77300,78700,465,723301,5659603,...,20000,31000,3000,13200,9900,6300,2900,6500,1100,1500
2018-07-23 14:55:18,145518000,79,78600,78300,79000,77300,78700,465,723301,5659603,...,20000,31000,3000,13200,9900,6300,2900,4500,1100,1500
2018-07-23 14:56:12,145612000,79,78600,78300,79000,77300,78700,467,727501,5692657,...,6900,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:56:15,145615000,79,78600,78300,79000,77300,78800,469,730401,5715481,...,4100,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:56:45,145645000,79,78600,78300,79000,77300,78800,471,732801,5734370,...,1800,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:00,145700000,79,78600,78300,79000,77300,78800,471,732801,5734370,...,1800,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:03,145703000,79,78600,78300,79000,77300,78700,472,733001,5735944,...,1600,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:06,145706000,79,78600,78300,79000,77300,78700,472,733001,5735944,...,1600,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:09,145709000,79,78600,78300,79000,77300,78700,473,734001,5743814,...,600,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:18,145718000,79,78600,78300,79000,77300,78700,473,734001,5743814,...,600,20000,31000,3000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:24,145724000,79,78600,78300,79000,77300,78700,473,734001,5743814,...,600,20000,31000,1000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:30,145730000,79,78600,78300,79000,77300,78800,474,738701,5780850,...,600,20000,31000,1000,13200,9900,6300,2900,4500,1100
2018-07-23 14:57:57,145757000,79,78600,78300,79000,77300,78800,478,743701,5820250,...,600,20000,31000,1000,13200,9900,6300,2900,4500,1100
2018-07-23 14:58:51,145851000,79,78600,78300,79000,77300,78800,478,743701,5820250,...,600,20000,31000,1000,13200,9900,6300,2900,4500,1100
2018-07-23 14:59:00,145900000,79,78600,78300,79000,77300,78700,479,744301,5824972,...,20000,31000,1000,13200,9900,6300,2900,4500,1100,500
2018-07-23 14:59:06,145906000,79,78600,78300,79000,77300,78700,479,744301,5824972,...,20400,31000,1000,13200,9900,6300,2900,4500,1100,500
2018-07-23 14:59:18,145918000,79,78600,78300,79000,77300,78700,479,744301,5824972,...,5000,20400,31000,1000,13200,9900,6300,2900,4500,1100
2018-07-23 14:59:30,145930000,79,78600,78300,79000,77300,78700,480,745201,5832055,...,5000,20400,31000,1000,13200,9900,6300,2900,4500,1100
2018-07-23 14:59:45,145945000,79,78600,78300,79000,77300,79000,497,787801,6168375,...,7400,5000,20400,31000,1000,13200,9900,6300,2900,4500
2018-07-23 14:59:51,145951000,79,78600,78300,79000,77300,79000,497,787801,6168375,...,7400,5000,5000,20400,31000,1000,13200,9900,6300,2900
2018-07-23 15:00:14,150014000,67,78600,78300,79000,77300,79000,497,787801,6168375,...,7400,5000,5000,20400,31000,1000,13200,9900,6300,2900
2018-07-23 15:00:14,150014000,67,78600,78300,79000,77300,79000,497,787801,6168375,...,7400,5000,5000,20400,31000,1000,13200,9900,6300,2900
2018-07-23 15:00:14,150014000,86,78600,78300,79000,77300,79000,497,787801,6168375,...,7400,5000,5000,20400,31000,1000,13200,9900,6300,2900
2018-07-23 15:00:14,150014000,86,78600,78300,79000,77300,79000,497,787801,6168375,...,7400,5000,5000,20400,31000,1000,13200,9900,6300,2900
2018-07-23 15:00:14,150014000,86,78600,78300,79000,77300,78900,497,787801,6168375,...,7400,5000,5000,20400,31000,1000,13200,9900,6300,2900

In [152]:
    data = test_01
    (Year, Month, Day) = slice_date(20180723)
    time_start = dt.datetime(Year, Month, Day, 9, 15, 0)
    time_end = dt.datetime(Year, Month, Day, 15, 0, 0)
    time_range = pd.date_range(time_start, time_end, freq='1S')
    time_range2 = pd.date_range(time_start, time_end, freq='3S')
    time_col = test_01['Time'].values
    temp_dateTime = []
    for i in range(len(time_col)):
        H, M, S = slice_min(time_col[i])
        if H == -1:
            continue
        else:
            temp_dateTime.append(dt.datetime(Year, Month, Day, H, M, S))
    data.index = pd.DatetimeIndex(temp_dateTime)

    main_part_cols = ['High', 'Low', 'Close',
                      'TransactionNum', 'TransactionVol', 'TransactionAmount', 'TotalBidVol',
                      'TotalAskVol', 'WeightedAvgBidPrice', 'WeightedAvgAskPrice',
                      'HighLimit', 'LowLimit', 'AskPrice1', 'AskPrice2', 'AskPrice3',
                      'AskPrice4', 'AskPrice5', 'AskPrice6', 'AskPrice7', 'AskPrice8',
                      'AskPrice9', 'AskPrice10', 'AskVol1', 'AskVol2', 'AskVol3', 'AskVol4',
                      'AskVol5', 'AskVol6', 'AskVol7', 'AskVol8', 'AskVol9', 'AskVol10',
                      'BidPrice1', 'BidPrice2', 'BidPrice3', 'BidPrice4', 'BidPrice5',
                      'BidPrice6', 'BidPrice7', 'BidPrice8', 'BidPrice9', 'BidPrice10',
                      'BidVol1', 'BidVol2', 'BidVol3', 'BidVol4', 'BidVol5', 'BidVol6',
                      'BidVol7', 'BidVol8', 'BidVol9', 'BidVol10']
    sub_cols = ['Status', 'PreClose', 'Open']

    # diminish the same data points at the same timestamps
    # When encountered mutiple row for the same time_index,
    # take mean on main part, take last on PreClose, TodayOpen, and Status
    data_main_part = data[main_part_cols].groupby(level=0).mean().astype(int)
    data_status = data[sub_cols].groupby(level=0).last()
    data_status.columns = ['Status', 'PreClose', 'PreOpen']

    result = pd.DataFrame()
    result[data_main_part.columns] = data_main_part
    result[data_status.columns] = data_status 
#     result = result.reindex(time_range)
    result = result.reindex(time_range).ffill().dropna()
    result = result.reindex(time_range2).ffill().dropna().astype(int)
#     # create open col using close of last tick
    result['Open'] = result['Close'].shift(1).fillna(0).astype(int)
    # take difference on these three cumulated volume to get vols in last tick
    result[['TransactionNum', 'TransactionVol','TransactionAmount']] = result[['TransactionNum', 'TransactionVol','TransactionAmount']].diff(1).dropna()
    result = result.dropna().astype(int)
    UpThreshold = dt.datetime(Year, Month, Day, 9, 30, 0)
    DownThreshold = dt.datetime(Year, Month, Day, 11, 30, 0)
    UpThreshold2 = dt.datetime(Year, Month, Day, 13, 0, 0)
    result = result[((result.index > UpThreshold) & (result.index <= DownThreshold)) | (result.index > UpThreshold2)]
    result.name = UpThreshold

In [151]:
result

,High,Low,Close,TransactionNum,TransactionVol,TransactionAmount,TotalBidVol,TotalAskVol,WeightedAvgBidPrice,WeightedAvgAskPrice,...,BidVol5,BidVol6,BidVol7,BidVol8,BidVol9,BidVol10,Status,PreClose,PreOpen,Open
2018-07-23 09:30:03,0,0,0,0,0,0,4000,55500,55870,59680,...,0,0,0,0,0,0,79,58000,0,0
2018-07-23 09:30:06,0,0,0,0,0,0,96400,65500,55450,59610,...,5000,8500,2100,9000,14000,38700,79,58000,0,0
2018-07-23 09:30:09,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:12,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:15,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:18,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:21,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:24,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:27,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:30,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:33,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:36,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:39,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:42,0,0,0,0,0,0,103200,65500,55460,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:45,0,0,0,0,0,0,105500,66900,55490,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:48,0,0,0,0,0,0,105500,66900,55490,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:51,0,0,0,0,0,0,105500,66900,55490,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:54,0,0,0,0,0,0,105500,66900,55490,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:30:57,0,0,0,0,0,0,105500,66900,55490,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:00,0,0,0,0,0,0,105500,66900,55490,59610,...,5000,10500,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:03,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:06,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:09,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:12,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:15,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:18,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:21,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:24,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:27,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
2018-07-23 09:31:30,0,0,0,0,0,0,106900,66900,55500,59610,...,5000,11900,1000,2100,9000,14000,79,58000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-23 14:58:33,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:36,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:39,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:42,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:45,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:48,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:51,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:54,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:58:57,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:59:00,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:59:03,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:59:06,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:59:09,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:59:12,58800,57200,58400,0,0,0,77500,194300,57270,59910,...,5400,10000,3000,300,2000,3000,79,58000,57600,58400
2018-07-23 14:59:15,58800,57200,58400,1,200,1168,77300,194600,57270,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58400
2018-07-23 14:59:18,58800,57200,58500,2,400,2337,77300,194200,57270,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58400
2018-07-23 14:59:21,58800,57200,58500,0,0,0,77300,194200,57270,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:24,58800,57200,58500,0,0,0,75000,194200,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:27,58800,57200,58500,0,0,0,75000,194200,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:30,58800,57200,58500,0,0,0,75000,194200,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:33,58800,57200,58500,0,0,0,75000,194800,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:36,58800,57200,58500,0,0,0,75000,194800,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:39,58800,57200,58500,2,700,4089,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:42,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:45,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:48,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:51,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:54,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 14:59:57,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500
2018-07-23 15:00:00,58800,57200,58500,0,0,0,75000,194100,57240,59910,...,10000,3000,300,2000,3000,7700,79,58000,57600,58500